.heading{width:405px; height:33px; background:url(/Images/Login/signin_header.jpg); margin:25px 0 0 4px;}

.sign_in label{font-size:16px; color:#000;}
.sign_in table{margin:0 0 0 17px;} 
.sign_in table td table{margin:0 0 0 0px;} 
.sign_in a{color:#7696bc;}
.txt{ height:20px; width:90%; padding: 1px 0 0 4px; font-size:13px; font-family:Calibri;border:none; }

.alignment{border:3px #7696bc solid; width:98%; height:22px;  background-image:url(assets/images/textbox.jpg); background-repeat:repeat-x;}
/* button */

.login_button 
{
 	padding:0 0 7px 10px;
   width:87px;
   height:30px;
   vertical-align:top;
   font-size:13px;
   color:#5fabc7;
   border: none;
   background:url(assets/images/sign_btn.png) no-repeat;
   
   cursor: pointer;
   }
.login_button:hover {
 background:url(assets/images/sign_btn.png) no-repeat;
  border: none;
   color: #5fabc7;
   -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; -ms-transition: all 1s ease; transition: all 1s ease;
   }
.login_button:active {
   top: 1px;
   position: relative;
   }